* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    border: solid 1px black;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {

    /*---navigation---*/
    .navigation {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        background-color: #B3E5FC;
        z-index: 10;
        color: rgb(66, 66, 66);
    }


    /*---langing page---*/

    .landing-page  {
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(to bottom, #B3E5FC 25%, #047eb6 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-attachment: fixed;
    }
    .intro-text {
        font-size: 3rem;
        font-family: 'Comfortaa', cursive;
        font-weight: 900;
        padding: 10px;
        z-index: 3;
    }
    .sub-text {
        z-index: 3;
    }
    #circle1 {
        position: absolute;
        color: #55acf3ce;
        top: 30%;
        left: 10%;
        filter: blur(1px);
    }
    #circle2 {
        position: absolute;
        color: #0d48a1da;
        top: 60%;
        left: 60%;
        filter: blur(1px);
    }
    #circle3 {
        position: absolute;
        color: #e1f5fee3;
        top: 90%;
        left: 30%;
        filter: blur(1px);
    }
    #circle4 {
        position: absolute;
        color: #5aa8cc;
        top: 60%;
        left: 40%;
        filter: blur(1px);
    }
    #circle5 {
        position: absolute;
        color: #77b4e6ce;
        top: 5%;
        left: 70%;
        filter: blur(1px);
    }
    #circle6 {
        position: absolute;
        color: #77c2ffda;
        top: 55%;
        left: 20%;
        filter: blur(1px);
    }
    #circle7 {
        position: absolute;
        color: #7a9db9ce;
        top: 25%;
        left: 50%;
        filter: blur(1px);
    }
    #circle8 {
        position: absolute;
        color: #4651f7ce;
        top: 15%;
        left: 10%;
        filter: blur(1px);
    }
    #circle9 {
        position: absolute;
        color: #a8d7fdce;
        top: 45%;
        left: 60%;
        filter: blur(1px);
    }
    #circle10 {
        position: absolute;
        color: #3c83bdce;
        top: 25%;
        left: 20%;
        filter: blur(1px);
    }#circle11 {
        position: absolute;
        color: #082136ce;
        top: 80%;
        left: -15%;
        filter: blur(1px);
    }

    /*---about page---*/
    .about-page {
        height: 95vh;
        width: 100%;
    }
    .photo {
        padding: 30px 0 0 0;
        display: flex;
        justify-content: center;
        background-image: url("../images/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .photo img {
        height: 250px;
        width: 200px;
    }
    .name {
        text-align: center;
        border-bottom: 1px solid gray;
        padding: 5px 5px 15px 5px;
    }
    .name p:first-child {
        font-size: 24px;
        font-weight: 700;
    }
    .name p:last-child {
        font-size: 14px;
    }
    .about {
        padding: 15px;
    }
    .about p {
        text-indent: 30px;
        padding: 15px;
        text-align: justify;
        font-size: 1rem;
    }
    .more {
        margin: auto;
        background-color: #389ff3;
        width: fit-content;
        color: white;
        border: solid 1px #2f86ce;
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;
    }
    .more:hover {
        background-color: #1976D2;
    }
    .skills-cont {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .language-card {
        width: 90%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        height: fit-content;
    }
    .lang-photo {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lang-photo img {
        width: 100%;
    }
    .lang-details  {
        width: 70%;
        height: fit-content;
    }
    .lang-name {
        padding: 5px;
        font-size: 20px;
        font-weight: bolder;
    }
    .lang-skills {
        text-align: justify;
        text-indent: 20px;
        padding: 5px;
        font-size: 14px;
    }

    /*---resume page---*/
    
}



@media  (min-width: 769px) {

}



